{# opendss_script\distribution_line_template.j2 #}
{% for param_dict in category_value %}
  {% for param_key, param_value in param_dict.items() %}
    {% if param_key == '线段' %}
      {% for line in param_value %}
new line.{{ line['线段名称'] }} bus1={{ line['线段头母线'] }} bus2={{ line['线段尾母线'] }} Linecode={{ line['线路型号'] }} Length={{ line['线路长度(km)'] }}
        {% if line['线段名称'] == 'L1' %}
! first meter
new EnergyMeter.{{ line['线段名称'] }} element=line.{{ line['线段名称'] }} 1
        {% endif %}
      {% endfor %}
    {% elif param_key == '变压器' %}
      {% for transformer in param_value %}
new transformer.{{ transformer['变压器名称'] }}{% if transformer['是否公变'] == '是' %}publictransformer{% endif %} Buses=[{{ transformer['高压侧母线'] }}, {{ transformer['低压侧母线'] }}] XfmrCode={{ transformer['变压器类型'] }}-{{ transformer['变压器容量(kVA)'] }}
        {% if transformer['是否公变'] == '是' %}
new EnergyMeter.{{ transformer['变压器名称'] }} Element=transformer.{{ transformer['变压器名称'] }}publictransformer Terminal=1
        {% endif %}
      {% endfor %}
    {% elif param_key == '平衡节点' %}
      {% for BalanceBus in param_value %}
! substation transformer
new transformer.sub1 phases=3 windings=2 buses=[SourceBus,  {{ BalanceBus['平衡节点'] }}] kvs=[115, 10.5] kvas=[20000, 20000] XHL=7
      {% endfor %}
    {% endif %}
  {% endfor %}
{% endfor %}